@charset "UTF-8";
@font-face {
    font-family: 'Sansation';
    src: url('../fonts/hinted-SansationRegular.eot');
    src: url('../fonts/hinted-SansationRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SansationRegular.woff2') format('woff2'), url('../fonts/hinted-SansationRegular.woff') format('woff'), url('../fonts/hinted-SansationRegular.ttf') format('truetype'), url('../fonts/hinted-SansationRegular.svg#Sansation') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'Sansation';
    src: url('../fonts/hinted-SansationBold.eot');
    src: url('../fonts/hinted-SansationBold.eot?#iefix') format('embedded-opentype'), url('../fonts/hinted-SansationBold.woff2') format('woff2'), url('../fonts/hinted-SansationBold.woff') format('woff'), url('../fonts/hinted-SansationBold.ttf') format('truetype'), url('../fonts/hinted-SansationBold.svg#Sansation') format('svg');
    font-weight: bold;
}

.clear{
  clear:both;
}

header{
  height:850px;
  width:100%;
  background: url(../images/background.jpg) no-repeat 70% 85% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media (max-width:1200px){
  header{
    height:950px !important;
  }
}
.top-bar{
  border-bottom:1px solid rgba(255,255,255,0.5);
  width:100%;
  height:40px;
}

.inner-top-bar{
  width:1320px;
  margin:0 auto;
  height: 100%;
  position: relative;
}

.top-bar-right-menu{
  height: 100%;
  min-width:200px;
  position: absolute;
  right:0;
}

  @media (max-width:1400px) {
    .inner-top-bar{
      width:100%;
    }
  }

.currency-chooser,
.language-chooser,
.profile-panel,
.login-btn,
.login-btn:hover{
  display: inline-block;
  background: transparent;
  color: white;
  height:100%;
  min-width:50px;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  background:url(../images/dropdown-arrow.svg) right center no-repeat;
  -webkit-appearance: none;
  -moz-appearance:none;
  cursor: pointer;
  position:relative;
}

.language-chooser{
  padding:10px 30px 10px 15px;
  border-left:1px solid rgba(255,255,255,0.5);
  border-right:1px solid rgba(255,255,255,0.5);
}

.profile-panel{
  padding:10px 30px 10px 15px;
  position: relative;
}

.profile-dropdown{
  display:none;
  position:absolute;
  z-index:10;
  top:40px;
  right:-1px;
  padding: 10px 10px 3px 10px;
  border:1px solid rgba(255,255,255,0.5);
  border-top:0;
  min-width: 101%;
}

.profile-panel:hover .profile-dropdown{
  display:block;
}

.profile-welcome-message{
  white-space: nowrap;
  font-weight:normal;
  font-size:14px;
  color:#fff;
}

.profile-dropdown hr{
  margin-top: 4px;
  margin-bottom: 4px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.profile-dropdown a{
  display:block;
  color:#fff;
  text-transform:uppercase;
  text-align:right;
}

.profile-dropdown a:hover{
  color:#ccc;
  text-decoration: none;
}

.currency-chooser{
  padding:10px 30px 10px 15px;
}


.login-btn,
.login-btn:hover{
  padding:10px;
  background:none;
  text-decoration: none;
}

.language-chooser-dropdown, .currency-chooser-dropdown{
  display:none;
  position:absolute;
  z-index:10;
  top:40px;
  left:-1px;
  padding: 10px 10px 3px 10px;
  border:1px solid rgba(255,255,255,0.5);
  border-top:0;
  width: 101%;
}

.currency-chooser-dropdown{
  left:3px;
}

.language-chooser-dropdown a, .currency-chooser-dropdown a{
  display: block;
  color:white;
  padding-bottom: 5px;
}

.language-chooser-dropdown a:hover, .currency-chooser-dropdown a:hover{
  color:#ccc;
  text-decoration: none;
}

.currency-chooser:hover .currency-chooser-dropdown{
  display:block;
}

.language-chooser:hover .language-chooser-dropdown{
  display:block;
}

.currency-icon{
  color:#5ac0ed;
  vertical-align: middle;
  font-weight: normal;
  text-decoration: none !important;
}

.logo{
  width:350px;
  display:block;
  margin:30px auto 30px auto;
}

@media (max-width:400px){
  .logo{
    width:90%;
  }
}

nav{
  text-align: center;
  margin-bottom:0;
}

nav a,
nav a:hover{
  font-family:"Sansation";
  font-size:14px;
  margin:0 20px;
  padding:15px 10px 15px 0;
  color:#fff;
  position: relative;
  text-decoration: none;
      text-shadow: black 0px 0px 10px;
}

nav a:hover{
  border-bottom:1px solid #5ac0ed;
  color:#5ac0ed;
}

nav a:hover .short-border{
  display: block;
}

.short-border{
  display:none;
  position: absolute;
  bottom:0;
  left:0;
  background: #5ac0ed;
  height:2px;
  width:70%;
}

.active-nav-button{
  border-bottom:1px solid #5ac0ed;
  color:#5ac0ed;
}

.active-nav-button .short-border{
  display: block;
}

@media (max-width:400px){
  nav a,
  nav a:hover{
    margin:10px;
    padding:5px 0  ;
  }
}

.services{
  position: relative;
  width:100%;
  height:60px;
  /* border:1px solid purple; */
  margin-bottom:50px;
}

.inner-services{
  z-index: 2;
  position: relative;
  height:100%;
  width:800px;
  /* border:1px solid orange; */
  margin:0 auto;
  background: url(../images/background.jpg) no-repeat 70% 85% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.service-logos{
  z-index: 1;
  height:100%;
  width:100px;
  margin:0 auto;
  position: absolute;
  /* border:1px solid #ccc; */
  cursor: pointer;
}
.service-logos:hover, .services-logo-active{
  background: url(../images/background.jpg) no-repeat 70% 85% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.line-through-services{
  z-index: 0;
  background: inherit;
  position: absolute;
  width:100%;
  height:1px;
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform:         translateY(-50%);
  
  background:rgba(255,255,255,0.2);
}

.service-logo-button{
  position: absolute;
  border-radius:100%;
  border:7px solid rgba(255,255,255,0.4);
  height:40px;
  width:40px;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  cursor: pointer;
  color:#fff;
  font-size:12px;
  font-family: "Sansation";
}

.service-logo-button-text{
  font-size:15px;
  position:absolute;
  bottom:-30px;
  left:50%;
  transform:translateX(-50%);
  width:auto;
  white-space: nowrap;
}

.thick-border-left, .thick-border-right{
  position: absolute;
  display: none;
  border:3px solid rgba(255,255,255,0.4);
  top:50%;
  -webkit-transform: translateY(-50%);
  -moz-transform:    translateY(-50%);
  -ms-transform:     translateY(-50%);
  -o-transform:      translateY(-50%);
  transform:         translateY(-50%);
}
.thick-border-left{
  width:30px;
  left:0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.thick-border-right{
  width:30px;
  right:0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.service-logos:hover .service-logo-button{
  border:7px solid rgba(255,255,255,0.4);
}

.service-logos:hover .thick-border-left{
  display: block;
}
.service-logos:hover .thick-border-right{
  display: block;
}

.service-logo-button img{
  z-index: 5;
  position: relative;
  display: block;
  top:0;
}

.services-logo-georgia4you{
  left:50px;
}

.services-logo-cars4rent{
  left:250px;
}

.services-logo-rooms4rent{
  right:250px;
}

.services-logo-support4biz{
  right:50px;
}

.services-logo-active  .service-logo-button{
  border:7px solid rgba(255,255,255,0.4);
}
.services-logo-active .thick-border-left{
  display: block;
}
.services-logo-active .thick-border-right{
  display: block;
}

@media (max-width:800px){
  .services{
    display:none;
  }
}

.slogan{
  display:block;
  font-size:30px;
  width:800px;
  margin:0 auto;
  color:#fff;
  text-align:center;
  margin-bottom:20px;
  margin-top:50px;
}

@media (max-width:800px){
  .slogan{
    width:100%;
    position:relative;
    top:40px;
    margin-bottom:70px;
  }
}

.book-form{
  width:1400px;
  min-height:100px;
  margin:30px auto;
  background:rgba(0,0,0,0.3);
  padding:40px;
  text-align:center;
}

.book-form-title{
  width:100%;
  text-align: center;
  margin-bottom:30px;

}

.book-form-title h1{
  color:#fff !important;
  font-size: 27px;
}

.outer-citiesPickUpOrig,
.outer-citiesDropOffOrig{
  font-size:12px;
  float:left;
  position:relative;
  width:19%;
}

#citiesPickUpOrig input,
#citiesDropOffOrig input{
  
}


.book-form-inputs select,
.book-form-inputs input,
#citiesPickUpOrig,
#citiesDropOffOrig,
#citiesPickUpOrig1,
#citiesDropOffOrig1{
  position: relative;
  height:45px;
  width:100%;
  padding-left: 60px;
  font-size:12px;
  border:none;
  cursor:pointer;
  float: left;
  
  background-color:#fff;
  -webkit-appearance: none;
  -moz-appearance:none;
  
  background-image: url(../images/dropdown-arrow-dark.svg), url(../images/map-marker.svg);
  background-position: right center, left center;
  background-repeat: no-repeat, no-repeat;
  
  -webkit-clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
}

.book-form-inputs select,
.book-form-inputs input{
  width:20.65%;
}

.book-form-inputs input[type=submit]{
  padding-left: 0;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  clip-path: polygon(100% 0, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  background:#5ac0ed;
  color:white;
}

.country-input{
  -webkit-clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 0%) !important;
  clip-path: polygon(95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 0%) !important;
}

.cities-pick-up-dropdown, .cities-drop-off-dropdown{
  display:none;
  position: absolute;
  top:46px;
  left:50px;
  z-index: 10;
  width: 67%;
  -webkit-box-shadow: 5px 4px 3px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 5px 4px 3px 0px rgba(0,0,0,0.05);
  box-shadow: 5px 4px 3px 0px rgba(0,0,0,0.05);
}

.cities-pick-up-dropdown span, .cities-drop-off-dropdown span{
  display:block;
  background: #fff;
  color:#444;
  padding:5px 10px;
  text-align: left;
}

.cities-pick-up-dropdown span:hover, .cities-drop-off-dropdown span:hover{
  color:#000;
  background:#eaeaea;
  cursor: pointer;
}

.label-citiesDropOffOrig,
.label-citiesPickUpOrig{
  position: absolute;
  left:60px;
  top:50%;
  transform:translateY(-50%);
}

.country-input option{
  -webkit-width:100px !important;
}

.date-picker-wrapper{
  z-index:10;
  width:430px;
}

@media(max-width:560px){
  .date-picker-wrapper{
    width:203px;
  }
}

.date-picker-wrapper .footer{
  width:100%
}

.date-input{
  background-image: none, url(../images/calendar.svg) !important;
  background-position: right center, left center;
  background-repeat: no-repeat, no-repeat;
}

.country-input{
  background-image:url(../images/dropdown-arrow-dark.svg),  url(../images/globe.svg) !important;
  background-position: right center, left center;
  background-repeat: no-repeat, no-repeat;
}

@media (max-width:1400px){
  .book-form{
    width:100%;
  }
  .date-input{
    background-image: none, url(../images/calendar-centered.svg) !important;
  }
  #citiesPickUpOrig,
  #citiesDropOffOrig,
  #citiesPickUpOrig1,
  #citiesDropOffOrig1{
    background-image: url(../images/dropdown-arrow-dark.svg), url(../images/map-marker-centered.svg) !important;
  }
}

@media (max-width:1200px){
  .book-form-inputs select,
  .book-form-inputs input,
  #citiesPickUpOrig,
  #citiesDropOffOrig,
  #citiesPickUpOrig1,
  #citiesDropOffOrig1{
    width:100%;
    margin:10px auto;
    -webkit-clip-path: none !important;
    clip-path: none !important;
  }
  
  .outer-citiesPickUpOrig,
  .outer-citiesDropOffOrig{
    float:none;
    width:100%;
    clear:both;
  }
  
  .cities-pick-up-dropdown, .cities-drop-off-dropdown{
    top:60px;
  }
}


.alt-booking {
  position:fixed !important;
  width:100%;
  height:150px;
  z-index:3;
  -webkit-box-shadow: -1px 1px 26px -10px rgba(0,0,0,1);
  -moz-box-shadow: -1px 1px 26px -10px rgba(0,0,0,1);
  box-shadow: -1px 1px 26px -10px rgba(0,0,0,1);
  border-bottom:3px solid #fff;
}


.alt-booking .top-bar{
  background-color: white;
}

.alt-booking .top-bar .currency-chooser,
.alt-booking .top-bar .language-chooser,
.alt-booking .top-bar .login-btn,
.alt-booking .top-bar .profile-panel
{
  background:url(../images/dropdown-arrow-dark.svg) right center no-repeat;
  color:#444;
}

.alt-booking .top-bar .language-chooser{
  border-left:1px solid rgba(0,0,0,0.1);
  border-right:1px solid rgba(0,0,0,0.1);
}

.language-chooser{
  padding:10px 30px 10px 15px;
  
}

.lang-sizes{
  width:22px;
  position:relative;
  top:-1px;
}

.alt-booking .top-bar .currency-chooser-dropdown,
.alt-booking .top-bar .language-chooser-dropdown,
.alt-booking .top-bar .profile-dropdown{
  background:rgba(0,0,0,0.5);
}

.alt-booking nav{
  display: none;
  background-color: #f0f0f0;
  height: 49px;
  margin-bottom: 4px;
  padding-top:15px;
}

.alt-booking nav a{
  color:#444;
}


.alt-booking .book-form{
  height:0;
  margin:0 auto;
  min-height:auto;
  padding:0 40px !important;
  background: rgba(0, 0, 0, 0);
}

@media(max-width: 1350px) {
  .alt-booking .book-form{
    height:0;
    margin:0 auto;
    min-height:auto;
    padding:0 20px !important;
    background: rgba(0, 0, 0, 0);
  }
}


.alt-booking .book-form-inputs{
  margin-top:6px
}
.alt-booking .book-form{
  min-height:52px;
  margin-top:3px;
}

.alt-booking .services,
.alt-booking .logo,
.alt-booking .book-form-title,
.alt-booking .main-advantages

{
    display: none;
}

.alt-booking .alt-top-bar,
.alt-booking nav{
  display:block;
}

.alt-logo{
  display: none;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  height:80%;
}

.alt-booking .alt-logo{
  display:block;
}

.alt-service-logos{
  display:none;
  position: absolute;
  left: 0;
  top:50%;
  transform:translateY(-50%);
}

.alt-service-logos img{
  width:25px;
}

.alt-booking .alt-service-logos{
  display: block;
}

.alt-service-logos-single-logo-containter{
  float:left;
  padding:8px 5px;
  position: relative;
  cursor: pointer;
}

.alt-service-logos-single-logo-containter-active{
  background: #f0f0f0;
}

.logo-label{
  display: none;
  position: relative;
  font-size:9px;
  white-space: nowrap;
  z-index:1;
}

.logo-label-title{
  display: block;
  position: absolute;
  bottom:-23px;
  left:50%;
  transform:translateX(-50%);
  background:#444;
  color:white;
  border-radius:3px;
  padding: 1px 3px;
}

.arrow-up {
  position: absolute;
  bottom:-10px;
  left:50%;
  transform:translateX(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #444;
}

.alt-service-logos-single-logo-containter-active .logo-label{
  display: block;
}

.alt-service-logos-single-logo-containter:hover .logo-label{
  display: block;
}

.alt-small-logo{
  display: none;
  position:absolute;
}

@media(max-width:1200px){
  .alt-booking{
    position:relative;
    height: 92px !important;
  }
}

@media(max-width:770px){
  .alt-service-logos{
    display:none !important;
  }
  
  .alt-logo{
    display:none !important;
  }

  .alt-booking .alt-small-logo{
    display: block;
    left:10px;
    top:50%;
    transform:translate(0,-50%);
    height:30px;
  }
  .main-advantages{
    display:none !important;
  }
}

.alt-booking .slogan{
  display:none
}

/* HEADER ENDING */
/* ////////////////// */

/* //////////////// */
/* MAIN ADVANTAGES  */


main{
  width:1140px;
  margin:0 auto;
  border-radius: 15px;
  min-height:300px;
  position:relative;
  margin-top:-405px;
  background:#fff;
}

@media (max-width:1350px){
  main{
    width:90%;
  }
}

.main-advantages{
  padding:20px;
}

.main-advantages-item{
  min-height:100px;
  border-radius:5px;
  
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
}
.main-advantages-item-image{
  height:100%;
  width:100%;
  margin:0 auto;
}

/* MAIN ADVANTAGES  */
/* //////////////// */




/* //////////////// */
/* MAIN TOPICS  */

.main-topics{
  padding-top:15px;
}

.main-topic-item{
  height: 250px;
  margin-bottom:30px;
  border-radius:5px;
  position:relative;
  overflow:hidden;
}

.main-topic-item-title{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align: center;
  color:#fff;
  text-shadow: 2px 1px 4px rgba(0,0,0,0.39);
}

.main-topic-item-description{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  margin-left:-85%;
  background:#fff;
  height: 90%;
  width:90%;
  padding:10px 20px;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  transition:all 200ms;
}

.main-topic-item-description h2{
  font-size:3vh;
}
.main-topic-item-description p{
  font-size:1.5vh;
}


.main-topic-item-description p,
.main-topic-item-description h2{
  /*text-align: justify;*/
  transition:all 100ms;
  font-size: 15px;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
}

.main-topic-item:hover .main-topic-item-description p,
.main-topic-item:hover .main-topic-item-description h2{
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
}
/* MAIN TOPICS  */
/* //////////////// */

.main-topic-item:hover .main-topic-item-description{
  margin-left: 0;
}

.main-topic-item .fas{
  position: absolute;
  left:5px;
  top:50%;
  transform:translateY(-50%);
  z-index: 2;
  color: #555;
  transition:all 200ms;
  font-size:1vh;

  
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;
}

.main-topic-item:hover .fas{
  position: absolute;
  left:5px;
  top:50%;
  transform:translateY(-50%);
  z-index: 2;
  color: #555;
  
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;
  /* Good browsers */
  opacity: 0;
}

.topic-full-description{
  padding:20px;
  text-align: justify;
}
.topic-full-description h1,
.topic-full-description h2{
  text-align: left;
}
.left-floated img{
  float:left;
  width:250px;
  margin-right:10px;
  border-radius: 5px;
}
.right-floated img{
  float:right;
  width:350px;
  margin-left:10px;
  border-radius: 5px;
}

@media(max-width:700px){
  .right-floated img,
  .left-floated img{
    width:100%;
  }
}




/* //////////////////////////// */
/* ////////[ FOOTER ]////////// */

.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #263238;
    /*min-height: 250px;*/
    padding: 10px 0px 25px 0px;
}

.pt2 {
    padding-top: 40px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}

.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}
/* ////////[ FOOTER ]////////// */
/* //////////////////////////// */
.bg-info{
  background: #f1f1f1 !important;
}
.basic-services{
	border:1px solid white;
    height: 72px;
    line-height: 55px;
    color: white;
    background:#5ac0ed;
  cursor: pointer;
}
.basic-services:active,
.basic-services:hover{
  border:1px solid white;
  height: 72px;
  background:#5ac0edcf;
  background-color:#5ac0edcf !important;
  border-color:#5ac0edcf !important;
  line-height: 55px;
  color: white !important;
}
